@{
    // View
    View = this;

    // Check action result
    if (auditTrailAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!auditTrailAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(auditTrailAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { AuditTrail: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fAuditTrailadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fAuditTrailadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["_DateTime", [fields._DateTime.visible && fields._DateTime.required ? ew.Validators.required(fields._DateTime.caption) : null, ew.Validators.datetime(fields._DateTime.clientFormatPattern)], fields._DateTime.isInvalid],
            ["Script", [fields.Script.visible && fields.Script.required ? ew.Validators.required(fields.Script.caption) : null], fields.Script.isInvalid],
            ["_User", [fields._User.visible && fields._User.required ? ew.Validators.required(fields._User.caption) : null], fields._User.isInvalid],
            ["_Action", [fields._Action.visible && fields._Action.required ? ew.Validators.required(fields._Action.caption) : null], fields._Action.isInvalid],
            ["_Table", [fields._Table.visible && fields._Table.required ? ew.Validators.required(fields._Table.caption) : null], fields._Table.isInvalid],
            ["_Field", [fields._Field.visible && fields._Field.required ? ew.Validators.required(fields._Field.caption) : null], fields._Field.isInvalid],
            ["KeyValue", [fields.KeyValue.visible && fields.KeyValue.required ? ew.Validators.required(fields.KeyValue.caption) : null], fields.KeyValue.isInvalid],
            ["OldValue", [fields.OldValue.visible && fields.OldValue.required ? ew.Validators.required(fields.OldValue.caption) : null], fields.OldValue.isInvalid],
            ["NewValue", [fields.NewValue.visible && fields.NewValue.required ? ew.Validators.required(fields.NewValue.caption) : null], fields.NewValue.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@auditTrailAdd.ShowPageHeader()
@auditTrailAdd.ShowMessages()
<form name="fAuditTrailadd" id="fAuditTrailadd" class="@(auditTrailAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(auditTrailAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(auditTrailAdd.OldKeyName)" value="@Html.Raw(auditTrailAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (auditTrailAdd._DateTime.Visible) { // auditTrailAdd._DateTime.Visible (begin)
    <div id="r__DateTime" @Html.Raw(auditTrailAdd._DateTime.RowAttributes)>
        <label id="elh_AuditTrail__DateTime" for="x__DateTime" class="@(auditTrailAdd.LeftColumnClass)">@Html.Raw(auditTrailAdd._DateTime.Caption)@Html.Raw(auditTrailAdd._DateTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(auditTrailAdd.RightColumnClass)"><div @Html.Raw(auditTrailAdd._DateTime.CellAttributes)>
<span id="el_AuditTrail__DateTime">
<input type="@(auditTrailAdd._DateTime.InputTextType)" name="x__DateTime" id="x__DateTime" data-table="AuditTrail" data-field="x__DateTime" value="@Html.Raw(auditTrailAdd._DateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(auditTrailAdd._DateTime.PlaceHolder))" data-format-pattern="@(auditTrailAdd._DateTime.FormatPattern)"@Html.Raw(auditTrailAdd._DateTime.EditAttributes) aria-describedby="x__DateTime_help">
@Html.Raw(auditTrailAdd._DateTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(auditTrailAdd._DateTime.GetErrorMessage())</div>
@if (!auditTrailAdd._DateTime.ReadOnly && !auditTrailAdd._DateTime.Disabled && !auditTrailAdd._DateTime.EditAttrs.Is("readonly") && !auditTrailAdd._DateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fAuditTrailadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fAuditTrailadd", "x__DateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* auditTrailAdd._DateTime.Visible (end) *@
@if (auditTrailAdd.Script.Visible) { // auditTrailAdd.Script.Visible (begin)
    <div id="r_Script" @Html.Raw(auditTrailAdd.Script.RowAttributes)>
        <label id="elh_AuditTrail_Script" for="x_Script" class="@(auditTrailAdd.LeftColumnClass)">@Html.Raw(auditTrailAdd.Script.Caption)@Html.Raw(auditTrailAdd.Script.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(auditTrailAdd.RightColumnClass)"><div @Html.Raw(auditTrailAdd.Script.CellAttributes)>
<span id="el_AuditTrail_Script">
<input type="@(auditTrailAdd.Script.InputTextType)" name="x_Script" id="x_Script" data-table="AuditTrail" data-field="x_Script" value="@Html.Raw(auditTrailAdd.Script.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(auditTrailAdd.Script.PlaceHolder))" data-format-pattern="@(auditTrailAdd.Script.FormatPattern)"@Html.Raw(auditTrailAdd.Script.EditAttributes) aria-describedby="x_Script_help">
@Html.Raw(auditTrailAdd.Script.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(auditTrailAdd.Script.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* auditTrailAdd.Script.Visible (end) *@
@if (auditTrailAdd._User.Visible) { // auditTrailAdd._User.Visible (begin)
    <div id="r__User" @Html.Raw(auditTrailAdd._User.RowAttributes)>
        <label id="elh_AuditTrail__User" for="x__User" class="@(auditTrailAdd.LeftColumnClass)">@Html.Raw(auditTrailAdd._User.Caption)@Html.Raw(auditTrailAdd._User.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(auditTrailAdd.RightColumnClass)"><div @Html.Raw(auditTrailAdd._User.CellAttributes)>
<span id="el_AuditTrail__User">
<input type="@(auditTrailAdd._User.InputTextType)" name="x__User" id="x__User" data-table="AuditTrail" data-field="x__User" value="@Html.Raw(auditTrailAdd._User.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(auditTrailAdd._User.PlaceHolder))" data-format-pattern="@(auditTrailAdd._User.FormatPattern)"@Html.Raw(auditTrailAdd._User.EditAttributes) aria-describedby="x__User_help">
@Html.Raw(auditTrailAdd._User.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(auditTrailAdd._User.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* auditTrailAdd._User.Visible (end) *@
@if (auditTrailAdd._Action.Visible) { // auditTrailAdd._Action.Visible (begin)
    <div id="r__Action" @Html.Raw(auditTrailAdd._Action.RowAttributes)>
        <label id="elh_AuditTrail__Action" for="x__Action" class="@(auditTrailAdd.LeftColumnClass)">@Html.Raw(auditTrailAdd._Action.Caption)@Html.Raw(auditTrailAdd._Action.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(auditTrailAdd.RightColumnClass)"><div @Html.Raw(auditTrailAdd._Action.CellAttributes)>
<span id="el_AuditTrail__Action">
<input type="@(auditTrailAdd._Action.InputTextType)" name="x__Action" id="x__Action" data-table="AuditTrail" data-field="x__Action" value="@Html.Raw(auditTrailAdd._Action.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(auditTrailAdd._Action.PlaceHolder))" data-format-pattern="@(auditTrailAdd._Action.FormatPattern)"@Html.Raw(auditTrailAdd._Action.EditAttributes) aria-describedby="x__Action_help">
@Html.Raw(auditTrailAdd._Action.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(auditTrailAdd._Action.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* auditTrailAdd._Action.Visible (end) *@
@if (auditTrailAdd._Table.Visible) { // auditTrailAdd._Table.Visible (begin)
    <div id="r__Table" @Html.Raw(auditTrailAdd._Table.RowAttributes)>
        <label id="elh_AuditTrail__Table" for="x__Table" class="@(auditTrailAdd.LeftColumnClass)">@Html.Raw(auditTrailAdd._Table.Caption)@Html.Raw(auditTrailAdd._Table.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(auditTrailAdd.RightColumnClass)"><div @Html.Raw(auditTrailAdd._Table.CellAttributes)>
<span id="el_AuditTrail__Table">
<input type="@(auditTrailAdd._Table.InputTextType)" name="x__Table" id="x__Table" data-table="AuditTrail" data-field="x__Table" value="@Html.Raw(auditTrailAdd._Table.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(auditTrailAdd._Table.PlaceHolder))" data-format-pattern="@(auditTrailAdd._Table.FormatPattern)"@Html.Raw(auditTrailAdd._Table.EditAttributes) aria-describedby="x__Table_help">
@Html.Raw(auditTrailAdd._Table.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(auditTrailAdd._Table.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* auditTrailAdd._Table.Visible (end) *@
@if (auditTrailAdd._Field.Visible) { // auditTrailAdd._Field.Visible (begin)
    <div id="r__Field" @Html.Raw(auditTrailAdd._Field.RowAttributes)>
        <label id="elh_AuditTrail__Field" for="x__Field" class="@(auditTrailAdd.LeftColumnClass)">@Html.Raw(auditTrailAdd._Field.Caption)@Html.Raw(auditTrailAdd._Field.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(auditTrailAdd.RightColumnClass)"><div @Html.Raw(auditTrailAdd._Field.CellAttributes)>
<span id="el_AuditTrail__Field">
<input type="@(auditTrailAdd._Field.InputTextType)" name="x__Field" id="x__Field" data-table="AuditTrail" data-field="x__Field" value="@Html.Raw(auditTrailAdd._Field.EditValue)" size="30" maxlength="255" placeholder="@Html.Raw(HtmlEncode(auditTrailAdd._Field.PlaceHolder))" data-format-pattern="@(auditTrailAdd._Field.FormatPattern)"@Html.Raw(auditTrailAdd._Field.EditAttributes) aria-describedby="x__Field_help">
@Html.Raw(auditTrailAdd._Field.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(auditTrailAdd._Field.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* auditTrailAdd._Field.Visible (end) *@
@if (auditTrailAdd.KeyValue.Visible) { // auditTrailAdd.KeyValue.Visible (begin)
    <div id="r_KeyValue" @Html.Raw(auditTrailAdd.KeyValue.RowAttributes)>
        <label id="elh_AuditTrail_KeyValue" for="x_KeyValue" class="@(auditTrailAdd.LeftColumnClass)">@Html.Raw(auditTrailAdd.KeyValue.Caption)@Html.Raw(auditTrailAdd.KeyValue.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(auditTrailAdd.RightColumnClass)"><div @Html.Raw(auditTrailAdd.KeyValue.CellAttributes)>
<span id="el_AuditTrail_KeyValue">
<textarea data-table="AuditTrail" data-field="x_KeyValue" name="x_KeyValue" id="x_KeyValue" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(auditTrailAdd.KeyValue.PlaceHolder))"@Html.Raw(auditTrailAdd.KeyValue.EditAttributes) aria-describedby="x_KeyValue_help">@(auditTrailAdd.KeyValue.EditValue)</textarea>
@Html.Raw(auditTrailAdd.KeyValue.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(auditTrailAdd.KeyValue.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* auditTrailAdd.KeyValue.Visible (end) *@
@if (auditTrailAdd.OldValue.Visible) { // auditTrailAdd.OldValue.Visible (begin)
    <div id="r_OldValue" @Html.Raw(auditTrailAdd.OldValue.RowAttributes)>
        <label id="elh_AuditTrail_OldValue" for="x_OldValue" class="@(auditTrailAdd.LeftColumnClass)">@Html.Raw(auditTrailAdd.OldValue.Caption)@Html.Raw(auditTrailAdd.OldValue.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(auditTrailAdd.RightColumnClass)"><div @Html.Raw(auditTrailAdd.OldValue.CellAttributes)>
<span id="el_AuditTrail_OldValue">
<textarea data-table="AuditTrail" data-field="x_OldValue" name="x_OldValue" id="x_OldValue" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(auditTrailAdd.OldValue.PlaceHolder))"@Html.Raw(auditTrailAdd.OldValue.EditAttributes) aria-describedby="x_OldValue_help">@(auditTrailAdd.OldValue.EditValue)</textarea>
@Html.Raw(auditTrailAdd.OldValue.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(auditTrailAdd.OldValue.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* auditTrailAdd.OldValue.Visible (end) *@
@if (auditTrailAdd.NewValue.Visible) { // auditTrailAdd.NewValue.Visible (begin)
    <div id="r_NewValue" @Html.Raw(auditTrailAdd.NewValue.RowAttributes)>
        <label id="elh_AuditTrail_NewValue" for="x_NewValue" class="@(auditTrailAdd.LeftColumnClass)">@Html.Raw(auditTrailAdd.NewValue.Caption)@Html.Raw(auditTrailAdd.NewValue.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(auditTrailAdd.RightColumnClass)"><div @Html.Raw(auditTrailAdd.NewValue.CellAttributes)>
<span id="el_AuditTrail_NewValue">
<textarea data-table="AuditTrail" data-field="x_NewValue" name="x_NewValue" id="x_NewValue" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(auditTrailAdd.NewValue.PlaceHolder))"@Html.Raw(auditTrailAdd.NewValue.EditAttributes) aria-describedby="x_NewValue_help">@(auditTrailAdd.NewValue.EditValue)</textarea>
@Html.Raw(auditTrailAdd.NewValue.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(auditTrailAdd.NewValue.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* auditTrailAdd.NewValue.Visible (end) *@
</div><!-- /page* -->
@{ auditTrailAdd.CloseRecordset(); }
@Html.Raw(auditTrailAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(auditTrailAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fAuditTrailadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fAuditTrailadd" data-href="@AppPath(auditTrailAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(auditTrailAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@auditTrailAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("AuditTrail");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
