@{
    // View
    View = this;

    // Check action result
    if (countriesAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!countriesAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(countriesAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { Countries: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fCountriesadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCountriesadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["ISO", [fields.ISO.visible && fields.ISO.required ? ew.Validators.required(fields.ISO.caption) : null], fields.ISO.isInvalid],
            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid],
            ["NiceName", [fields.NiceName.visible && fields.NiceName.required ? ew.Validators.required(fields.NiceName.caption) : null], fields.NiceName.isInvalid],
            ["ISO3", [fields.ISO3.visible && fields.ISO3.required ? ew.Validators.required(fields.ISO3.caption) : null], fields.ISO3.isInvalid],
            ["NumCode", [fields.NumCode.visible && fields.NumCode.required ? ew.Validators.required(fields.NumCode.caption) : null, ew.Validators.integer], fields.NumCode.isInvalid],
            ["PhoneCode", [fields.PhoneCode.visible && fields.PhoneCode.required ? ew.Validators.required(fields.PhoneCode.caption) : null, ew.Validators.integer], fields.PhoneCode.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@countriesAdd.ShowPageHeader()
@countriesAdd.ShowMessages()
<form name="fCountriesadd" id="fCountriesadd" class="@(countriesAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(countriesAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(countriesAdd.OldKeyName)" value="@Html.Raw(countriesAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (countriesAdd.ISO.Visible) { // countriesAdd.ISO.Visible (begin)
    <div id="r_ISO" @Html.Raw(countriesAdd.ISO.RowAttributes)>
        <label id="elh_Countries_ISO" for="x_ISO" class="@(countriesAdd.LeftColumnClass)">@Html.Raw(countriesAdd.ISO.Caption)@Html.Raw(countriesAdd.ISO.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesAdd.RightColumnClass)"><div @Html.Raw(countriesAdd.ISO.CellAttributes)>
<span id="el_Countries_ISO">
<input type="@(countriesAdd.ISO.InputTextType)" name="x_ISO" id="x_ISO" data-table="Countries" data-field="x_ISO" value="@Html.Raw(countriesAdd.ISO.EditValue)" size="30" maxlength="2" placeholder="@Html.Raw(HtmlEncode(countriesAdd.ISO.PlaceHolder))" data-format-pattern="@(countriesAdd.ISO.FormatPattern)"@Html.Raw(countriesAdd.ISO.EditAttributes) aria-describedby="x_ISO_help">
@Html.Raw(countriesAdd.ISO.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesAdd.ISO.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesAdd.ISO.Visible (end) *@
@if (countriesAdd._Name.Visible) { // countriesAdd._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(countriesAdd._Name.RowAttributes)>
        <label id="elh_Countries__Name" for="x__Name" class="@(countriesAdd.LeftColumnClass)">@Html.Raw(countriesAdd._Name.Caption)@Html.Raw(countriesAdd._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesAdd.RightColumnClass)"><div @Html.Raw(countriesAdd._Name.CellAttributes)>
<span id="el_Countries__Name">
<input type="@(countriesAdd._Name.InputTextType)" name="x__Name" id="x__Name" data-table="Countries" data-field="x__Name" value="@Html.Raw(countriesAdd._Name.EditValue)" size="30" maxlength="80" placeholder="@Html.Raw(HtmlEncode(countriesAdd._Name.PlaceHolder))" data-format-pattern="@(countriesAdd._Name.FormatPattern)"@Html.Raw(countriesAdd._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(countriesAdd._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesAdd._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesAdd._Name.Visible (end) *@
@if (countriesAdd.NiceName.Visible) { // countriesAdd.NiceName.Visible (begin)
    <div id="r_NiceName" @Html.Raw(countriesAdd.NiceName.RowAttributes)>
        <label id="elh_Countries_NiceName" for="x_NiceName" class="@(countriesAdd.LeftColumnClass)">@Html.Raw(countriesAdd.NiceName.Caption)@Html.Raw(countriesAdd.NiceName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesAdd.RightColumnClass)"><div @Html.Raw(countriesAdd.NiceName.CellAttributes)>
<span id="el_Countries_NiceName">
<input type="@(countriesAdd.NiceName.InputTextType)" name="x_NiceName" id="x_NiceName" data-table="Countries" data-field="x_NiceName" value="@Html.Raw(countriesAdd.NiceName.EditValue)" size="30" maxlength="80" placeholder="@Html.Raw(HtmlEncode(countriesAdd.NiceName.PlaceHolder))" data-format-pattern="@(countriesAdd.NiceName.FormatPattern)"@Html.Raw(countriesAdd.NiceName.EditAttributes) aria-describedby="x_NiceName_help">
@Html.Raw(countriesAdd.NiceName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesAdd.NiceName.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesAdd.NiceName.Visible (end) *@
@if (countriesAdd.ISO3.Visible) { // countriesAdd.ISO3.Visible (begin)
    <div id="r_ISO3" @Html.Raw(countriesAdd.ISO3.RowAttributes)>
        <label id="elh_Countries_ISO3" for="x_ISO3" class="@(countriesAdd.LeftColumnClass)">@Html.Raw(countriesAdd.ISO3.Caption)@Html.Raw(countriesAdd.ISO3.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesAdd.RightColumnClass)"><div @Html.Raw(countriesAdd.ISO3.CellAttributes)>
<span id="el_Countries_ISO3">
<input type="@(countriesAdd.ISO3.InputTextType)" name="x_ISO3" id="x_ISO3" data-table="Countries" data-field="x_ISO3" value="@Html.Raw(countriesAdd.ISO3.EditValue)" size="30" maxlength="3" placeholder="@Html.Raw(HtmlEncode(countriesAdd.ISO3.PlaceHolder))" data-format-pattern="@(countriesAdd.ISO3.FormatPattern)"@Html.Raw(countriesAdd.ISO3.EditAttributes) aria-describedby="x_ISO3_help">
@Html.Raw(countriesAdd.ISO3.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesAdd.ISO3.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesAdd.ISO3.Visible (end) *@
@if (countriesAdd.NumCode.Visible) { // countriesAdd.NumCode.Visible (begin)
    <div id="r_NumCode" @Html.Raw(countriesAdd.NumCode.RowAttributes)>
        <label id="elh_Countries_NumCode" for="x_NumCode" class="@(countriesAdd.LeftColumnClass)">@Html.Raw(countriesAdd.NumCode.Caption)@Html.Raw(countriesAdd.NumCode.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesAdd.RightColumnClass)"><div @Html.Raw(countriesAdd.NumCode.CellAttributes)>
<span id="el_Countries_NumCode">
<input type="@(countriesAdd.NumCode.InputTextType)" name="x_NumCode" id="x_NumCode" data-table="Countries" data-field="x_NumCode" value="@Html.Raw(countriesAdd.NumCode.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(countriesAdd.NumCode.PlaceHolder))" data-format-pattern="@(countriesAdd.NumCode.FormatPattern)"@Html.Raw(countriesAdd.NumCode.EditAttributes) aria-describedby="x_NumCode_help">
@Html.Raw(countriesAdd.NumCode.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesAdd.NumCode.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesAdd.NumCode.Visible (end) *@
@if (countriesAdd.PhoneCode.Visible) { // countriesAdd.PhoneCode.Visible (begin)
    <div id="r_PhoneCode" @Html.Raw(countriesAdd.PhoneCode.RowAttributes)>
        <label id="elh_Countries_PhoneCode" for="x_PhoneCode" class="@(countriesAdd.LeftColumnClass)">@Html.Raw(countriesAdd.PhoneCode.Caption)@Html.Raw(countriesAdd.PhoneCode.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesAdd.RightColumnClass)"><div @Html.Raw(countriesAdd.PhoneCode.CellAttributes)>
<span id="el_Countries_PhoneCode">
<input type="@(countriesAdd.PhoneCode.InputTextType)" name="x_PhoneCode" id="x_PhoneCode" data-table="Countries" data-field="x_PhoneCode" value="@Html.Raw(countriesAdd.PhoneCode.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(countriesAdd.PhoneCode.PlaceHolder))" data-format-pattern="@(countriesAdd.PhoneCode.FormatPattern)"@Html.Raw(countriesAdd.PhoneCode.EditAttributes) aria-describedby="x_PhoneCode_help">
@Html.Raw(countriesAdd.PhoneCode.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesAdd.PhoneCode.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesAdd.PhoneCode.Visible (end) *@
</div><!-- /page* -->
@{ countriesAdd.CloseRecordset(); }
@Html.Raw(countriesAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(countriesAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCountriesadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCountriesadd" data-href="@AppPath(countriesAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(countriesAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@countriesAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("Countries");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
