@{
    // View
    View = this;

    // Check action result
    if (countriesEdit.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!countriesEdit.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@countriesEdit.ShowPageHeader()
@countriesEdit.ShowMessages()
<main class="edit">
<form name="fCountriesedit" id="fCountriesedit" class="@(countriesEdit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(countriesEdit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { Countries: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fCountriesedit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fCountriesedit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["ISO", [fields.ISO.visible && fields.ISO.required ? ew.Validators.required(fields.ISO.caption) : null], fields.ISO.isInvalid],
            ["_Name", [fields._Name.visible && fields._Name.required ? ew.Validators.required(fields._Name.caption) : null], fields._Name.isInvalid],
            ["NiceName", [fields.NiceName.visible && fields.NiceName.required ? ew.Validators.required(fields.NiceName.caption) : null], fields.NiceName.isInvalid],
            ["ISO3", [fields.ISO3.visible && fields.ISO3.required ? ew.Validators.required(fields.ISO3.caption) : null], fields.ISO3.isInvalid],
            ["NumCode", [fields.NumCode.visible && fields.NumCode.required ? ew.Validators.required(fields.NumCode.caption) : null, ew.Validators.integer], fields.NumCode.isInvalid],
            ["PhoneCode", [fields.PhoneCode.visible && fields.PhoneCode.required ? ew.Validators.required(fields.PhoneCode.caption) : null, ew.Validators.integer], fields.PhoneCode.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(countriesEdit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(countriesEdit.OldKeyName)" value="@Html.Raw(countriesEdit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (countriesEdit.ISO.Visible) { // countriesEdit.ISO.Visible (begin)
    <div id="r_ISO" @Html.Raw(countriesEdit.ISO.RowAttributes)>
        <label id="elh_Countries_ISO" for="x_ISO" class="@(countriesEdit.LeftColumnClass)">@Html.Raw(countriesEdit.ISO.Caption)@Html.Raw(countriesEdit.ISO.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesEdit.RightColumnClass)"><div @Html.Raw(countriesEdit.ISO.CellAttributes)>
<span id="el_Countries_ISO">
<input type="@(countriesEdit.ISO.InputTextType)" name="x_ISO" id="x_ISO" data-table="Countries" data-field="x_ISO" value="@Html.Raw(countriesEdit.ISO.EditValue)" size="30" maxlength="2" placeholder="@Html.Raw(HtmlEncode(countriesEdit.ISO.PlaceHolder))" data-format-pattern="@(countriesEdit.ISO.FormatPattern)"@Html.Raw(countriesEdit.ISO.EditAttributes) aria-describedby="x_ISO_help">
@Html.Raw(countriesEdit.ISO.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesEdit.ISO.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesEdit.ISO.Visible (end) *@
@if (countriesEdit._Name.Visible) { // countriesEdit._Name.Visible (begin)
    <div id="r__Name" @Html.Raw(countriesEdit._Name.RowAttributes)>
        <label id="elh_Countries__Name" for="x__Name" class="@(countriesEdit.LeftColumnClass)">@Html.Raw(countriesEdit._Name.Caption)@Html.Raw(countriesEdit._Name.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesEdit.RightColumnClass)"><div @Html.Raw(countriesEdit._Name.CellAttributes)>
<span id="el_Countries__Name">
<input type="@(countriesEdit._Name.InputTextType)" name="x__Name" id="x__Name" data-table="Countries" data-field="x__Name" value="@Html.Raw(countriesEdit._Name.EditValue)" size="30" maxlength="80" placeholder="@Html.Raw(HtmlEncode(countriesEdit._Name.PlaceHolder))" data-format-pattern="@(countriesEdit._Name.FormatPattern)"@Html.Raw(countriesEdit._Name.EditAttributes) aria-describedby="x__Name_help">
@Html.Raw(countriesEdit._Name.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesEdit._Name.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesEdit._Name.Visible (end) *@
@if (countriesEdit.NiceName.Visible) { // countriesEdit.NiceName.Visible (begin)
    <div id="r_NiceName" @Html.Raw(countriesEdit.NiceName.RowAttributes)>
        <label id="elh_Countries_NiceName" for="x_NiceName" class="@(countriesEdit.LeftColumnClass)">@Html.Raw(countriesEdit.NiceName.Caption)@Html.Raw(countriesEdit.NiceName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesEdit.RightColumnClass)"><div @Html.Raw(countriesEdit.NiceName.CellAttributes)>
<span id="el_Countries_NiceName">
<input type="@(countriesEdit.NiceName.InputTextType)" name="x_NiceName" id="x_NiceName" data-table="Countries" data-field="x_NiceName" value="@Html.Raw(countriesEdit.NiceName.EditValue)" size="30" maxlength="80" placeholder="@Html.Raw(HtmlEncode(countriesEdit.NiceName.PlaceHolder))" data-format-pattern="@(countriesEdit.NiceName.FormatPattern)"@Html.Raw(countriesEdit.NiceName.EditAttributes) aria-describedby="x_NiceName_help">
@Html.Raw(countriesEdit.NiceName.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesEdit.NiceName.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesEdit.NiceName.Visible (end) *@
@if (countriesEdit.ISO3.Visible) { // countriesEdit.ISO3.Visible (begin)
    <div id="r_ISO3" @Html.Raw(countriesEdit.ISO3.RowAttributes)>
        <label id="elh_Countries_ISO3" for="x_ISO3" class="@(countriesEdit.LeftColumnClass)">@Html.Raw(countriesEdit.ISO3.Caption)@Html.Raw(countriesEdit.ISO3.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesEdit.RightColumnClass)"><div @Html.Raw(countriesEdit.ISO3.CellAttributes)>
<span id="el_Countries_ISO3">
<input type="@(countriesEdit.ISO3.InputTextType)" name="x_ISO3" id="x_ISO3" data-table="Countries" data-field="x_ISO3" value="@Html.Raw(countriesEdit.ISO3.EditValue)" size="30" maxlength="3" placeholder="@Html.Raw(HtmlEncode(countriesEdit.ISO3.PlaceHolder))" data-format-pattern="@(countriesEdit.ISO3.FormatPattern)"@Html.Raw(countriesEdit.ISO3.EditAttributes) aria-describedby="x_ISO3_help">
@Html.Raw(countriesEdit.ISO3.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesEdit.ISO3.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesEdit.ISO3.Visible (end) *@
@if (countriesEdit.NumCode.Visible) { // countriesEdit.NumCode.Visible (begin)
    <div id="r_NumCode" @Html.Raw(countriesEdit.NumCode.RowAttributes)>
        <label id="elh_Countries_NumCode" for="x_NumCode" class="@(countriesEdit.LeftColumnClass)">@Html.Raw(countriesEdit.NumCode.Caption)@Html.Raw(countriesEdit.NumCode.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesEdit.RightColumnClass)"><div @Html.Raw(countriesEdit.NumCode.CellAttributes)>
<span id="el_Countries_NumCode">
<input type="@(countriesEdit.NumCode.InputTextType)" name="x_NumCode" id="x_NumCode" data-table="Countries" data-field="x_NumCode" value="@Html.Raw(countriesEdit.NumCode.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(countriesEdit.NumCode.PlaceHolder))" data-format-pattern="@(countriesEdit.NumCode.FormatPattern)"@Html.Raw(countriesEdit.NumCode.EditAttributes) aria-describedby="x_NumCode_help">
@Html.Raw(countriesEdit.NumCode.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesEdit.NumCode.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesEdit.NumCode.Visible (end) *@
@if (countriesEdit.PhoneCode.Visible) { // countriesEdit.PhoneCode.Visible (begin)
    <div id="r_PhoneCode" @Html.Raw(countriesEdit.PhoneCode.RowAttributes)>
        <label id="elh_Countries_PhoneCode" for="x_PhoneCode" class="@(countriesEdit.LeftColumnClass)">@Html.Raw(countriesEdit.PhoneCode.Caption)@Html.Raw(countriesEdit.PhoneCode.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(countriesEdit.RightColumnClass)"><div @Html.Raw(countriesEdit.PhoneCode.CellAttributes)>
<span id="el_Countries_PhoneCode">
<input type="@(countriesEdit.PhoneCode.InputTextType)" name="x_PhoneCode" id="x_PhoneCode" data-table="Countries" data-field="x_PhoneCode" value="@Html.Raw(countriesEdit.PhoneCode.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(countriesEdit.PhoneCode.PlaceHolder))" data-format-pattern="@(countriesEdit.PhoneCode.FormatPattern)"@Html.Raw(countriesEdit.PhoneCode.EditAttributes) aria-describedby="x_PhoneCode_help">
@Html.Raw(countriesEdit.PhoneCode.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(countriesEdit.PhoneCode.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* countriesEdit.PhoneCode.Visible (end) *@
</div><!-- /page* -->
    <input type="hidden" data-table="Countries" data-field="x_CountryID" data-hidden="1" name="x_CountryID" id="x_CountryID" value="@Html.Raw(HtmlEncode(countriesEdit.CountryID.CurrentValue))">
@{ countriesEdit.CloseRecordset(); }
@Html.Raw(countriesEdit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(countriesEdit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fCountriesedit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fCountriesedit" data-href="@AppPath(countriesEdit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(countriesEdit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@if (!countriesEdit.IsModal) {
<div><!-- DN -->
@countriesEdit.Pager.Render()
</div>
}
</main>
@countriesEdit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("Countries");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
