@{
    // View
    View = this;

    // Check action result
    if (usersAdd.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!usersAdd.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
<script>
var currentTable = @Html.Raw(ConvertToJson(usersAdd.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { Users: currentTable } });
var currentPageID = ew.PAGE_ID = "add";
var currentForm;
var fUsersadd;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fUsersadd")
        .setPageId("add")

        // Add fields
        .setFields([

            ["_Email", [fields._Email.visible && fields._Email.required ? ew.Validators.required(fields._Email.caption) : null], fields._Email.isInvalid],
            ["MobileNumber", [fields.MobileNumber.visible && fields.MobileNumber.required ? ew.Validators.required(fields.MobileNumber.caption) : null], fields.MobileNumber.isInvalid],
            ["_Username", [fields._Username.visible && fields._Username.required ? ew.Validators.required(fields._Username.caption) : null], fields._Username.isInvalid],
            ["Password", [fields.Password.visible && fields.Password.required ? ew.Validators.required(fields.Password.caption) : null, ew.Validators.passwordStrength], fields.Password.isInvalid],
            ["ProfilePicture", [fields.ProfilePicture.visible && fields.ProfilePicture.required ? ew.Validators.fileRequired(fields.ProfilePicture.caption) : null], fields.ProfilePicture.isInvalid],
            ["ProfileDescription", [fields.ProfileDescription.visible && fields.ProfileDescription.required ? ew.Validators.required(fields.ProfileDescription.caption) : null], fields.ProfileDescription.isInvalid],
            ["IsActive", [fields.IsActive.visible && fields.IsActive.required ? ew.Validators.required(fields.IsActive.caption) : null], fields.IsActive.isInvalid],
            ["UserLevelID", [fields.UserLevelID.visible && fields.UserLevelID.required ? ew.Validators.required(fields.UserLevelID.caption) : null], fields.UserLevelID.isInvalid],
            ["CreatedBy", [fields.CreatedBy.visible && fields.CreatedBy.required ? ew.Validators.required(fields.CreatedBy.caption) : null, ew.Validators.integer], fields.CreatedBy.isInvalid],
            ["CreatedDateTime", [fields.CreatedDateTime.visible && fields.CreatedDateTime.required ? ew.Validators.required(fields.CreatedDateTime.caption) : null, ew.Validators.datetime(fields.CreatedDateTime.clientFormatPattern)], fields.CreatedDateTime.isInvalid],
            ["UpdatedBy", [fields.UpdatedBy.visible && fields.UpdatedBy.required ? ew.Validators.required(fields.UpdatedBy.caption) : null, ew.Validators.integer], fields.UpdatedBy.isInvalid],
            ["UpdatedDateTime", [fields.UpdatedDateTime.visible && fields.UpdatedDateTime.required ? ew.Validators.required(fields.UpdatedDateTime.caption) : null, ew.Validators.datetime(fields.UpdatedDateTime.clientFormatPattern)], fields.UpdatedDateTime.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "IsActive": @Html.Raw(usersAdd.IsActive.ToClientList(usersAdd)),
            "UserLevelID": @Html.Raw(usersAdd.UserLevelID.ToClientList(usersAdd)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@usersAdd.ShowPageHeader()
@usersAdd.ShowMessages()
<form name="fUsersadd" id="fUsersadd" class="@(usersAdd.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="insert">
<input type="hidden" name="modal" value="@ConvertToInt(usersAdd.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(usersAdd.OldKeyName)" value="@Html.Raw(usersAdd.OldKey)">
<div class="ew-add-div"><!-- page* -->
@if (usersAdd._Email.Visible) { // usersAdd._Email.Visible (begin)
    <div id="r__Email" @Html.Raw(usersAdd._Email.RowAttributes)>
        <label id="elh_Users__Email" for="x__Email" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd._Email.Caption)@Html.Raw(usersAdd._Email.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd._Email.CellAttributes)>
<span id="el_Users__Email">
<input type="@(usersAdd._Email.InputTextType)" name="x__Email" id="x__Email" data-table="Users" data-field="x__Email" value="@Html.Raw(usersAdd._Email.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(usersAdd._Email.PlaceHolder))" data-format-pattern="@(usersAdd._Email.FormatPattern)"@Html.Raw(usersAdd._Email.EditAttributes) aria-describedby="x__Email_help">
@Html.Raw(usersAdd._Email.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd._Email.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd._Email.Visible (end) *@
@if (usersAdd.MobileNumber.Visible) { // usersAdd.MobileNumber.Visible (begin)
    <div id="r_MobileNumber" @Html.Raw(usersAdd.MobileNumber.RowAttributes)>
        <label id="elh_Users_MobileNumber" for="x_MobileNumber" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.MobileNumber.Caption)@Html.Raw(usersAdd.MobileNumber.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.MobileNumber.CellAttributes)>
<span id="el_Users_MobileNumber">
<input type="@(usersAdd.MobileNumber.InputTextType)" name="x_MobileNumber" id="x_MobileNumber" data-table="Users" data-field="x_MobileNumber" value="@Html.Raw(usersAdd.MobileNumber.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(usersAdd.MobileNumber.PlaceHolder))" data-format-pattern="@(usersAdd.MobileNumber.FormatPattern)"@Html.Raw(usersAdd.MobileNumber.EditAttributes) aria-describedby="x_MobileNumber_help">
@Html.Raw(usersAdd.MobileNumber.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.MobileNumber.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd.MobileNumber.Visible (end) *@
@if (usersAdd._Username.Visible) { // usersAdd._Username.Visible (begin)
    <div id="r__Username" @Html.Raw(usersAdd._Username.RowAttributes)>
        <label id="elh_Users__Username" for="x__Username" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd._Username.Caption)@Html.Raw(usersAdd._Username.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd._Username.CellAttributes)>
<span id="el_Users__Username">
<input type="@(usersAdd._Username.InputTextType)" name="x__Username" id="x__Username" data-table="Users" data-field="x__Username" value="@Html.Raw(usersAdd._Username.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(usersAdd._Username.PlaceHolder))" data-format-pattern="@(usersAdd._Username.FormatPattern)"@Html.Raw(usersAdd._Username.EditAttributes) aria-describedby="x__Username_help">
@Html.Raw(usersAdd._Username.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd._Username.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd._Username.Visible (end) *@
@if (usersAdd.Password.Visible) { // usersAdd.Password.Visible (begin)
    <div id="r_Password" @Html.Raw(usersAdd.Password.RowAttributes)>
        <label id="elh_Users_Password" for="x_Password" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.Password.Caption)@Html.Raw(usersAdd.Password.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.Password.CellAttributes)>
<span id="el_Users_Password">
<div class="input-group" id="ig_Password">
    <input type="password" autocomplete="new-password" data-password-strength="pst_Password" data-table="Users" data-field="x_Password" name="x_Password" id="x_Password" size="30" maxlength="255" placeholder="@(HtmlEncode(usersAdd.Password.PlaceHolder))" @Html.Raw(usersAdd.Password.EditAttributes) aria-describedby="x_Password_help">
    <button type="button" class="btn btn-default ew-toggle-password" data-ew-action="password"><i class="fa-solid fa-eye"></i></button>
    <button type="button" class="btn btn-default ew-password-generator rounded-end" title="@Html.Raw(Language.Phrase("GeneratePassword", true))" data-password-field="x_Password" data-password-confirm="c_Password" data-password-strength="pst_Password">@Html.Raw(Language.Phrase("GeneratePassword"))</button>
</div>
<div class="progress ew-password-strength-bar form-text mt-1 d-none" id="pst_Password">
    <div class="progress-bar" role="progressbar"></div>
</div>
@Html.Raw(usersAdd.Password.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.Password.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd.Password.Visible (end) *@
@if (usersAdd.ProfilePicture.Visible) { // usersAdd.ProfilePicture.Visible (begin)
    <div id="r_ProfilePicture" @Html.Raw(usersAdd.ProfilePicture.RowAttributes)>
        <label id="elh_Users_ProfilePicture" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.ProfilePicture.Caption)@Html.Raw(usersAdd.ProfilePicture.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.ProfilePicture.CellAttributes)>
<span id="el_Users_ProfilePicture">
<div id="fd_x_ProfilePicture" class="fileinput-button ew-file-drop-zone">
    <input
        type="file"
        id="x_ProfilePicture"
        name="x_ProfilePicture"
        class="form-control ew-file-input"
        title="@(usersAdd.ProfilePicture.Title)"
        lang="@(CurrentLanguageID)"
        data-table="Users"
        data-field="x_ProfilePicture"
        data-size="0"
        data-accept-file-types="@(usersAdd.ProfilePicture.AcceptFileTypes)"
        data-max-file-size="@(usersAdd.ProfilePicture.UploadMaxFileSize)"
        data-max-number-of-files="null"
        data-disable-image-crop="@(usersAdd.ProfilePicture.ImageCropper ? 0 : 1)"
        aria-describedby="x_ProfilePicture_help"
        @Html.Raw((usersAdd.ProfilePicture.ReadOnly || usersAdd.ProfilePicture.Disabled) ? " disabled" : "")
        @Html.Raw(usersAdd.ProfilePicture.EditAttributes)
    >
    <div class="text-muted ew-file-text">@Html.Raw(Language.Phrase("ChooseFile"))</div>
</div>
@Html.Raw(usersAdd.ProfilePicture.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.ProfilePicture.GetErrorMessage())</div>
<input type="hidden" name="fn_x_ProfilePicture" id= "fn_x_ProfilePicture" value="@(usersAdd.ProfilePicture.Upload.FileName)">
<input type="hidden" name="fa_x_ProfilePicture" id= "fa_x_ProfilePicture" value="0">
<table id="ft_x_ProfilePicture" class="table table-sm float-start ew-upload-table"><tbody class="files"></tbody></table>
</span>
</div></div>
    </div>
} @* usersAdd.ProfilePicture.Visible (end) *@
@if (usersAdd.ProfileDescription.Visible) { // usersAdd.ProfileDescription.Visible (begin)
    <div id="r_ProfileDescription" @Html.Raw(usersAdd.ProfileDescription.RowAttributes)>
        <label id="elh_Users_ProfileDescription" for="x_ProfileDescription" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.ProfileDescription.Caption)@Html.Raw(usersAdd.ProfileDescription.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.ProfileDescription.CellAttributes)>
<span id="el_Users_ProfileDescription">
<textarea data-table="Users" data-field="x_ProfileDescription" name="x_ProfileDescription" id="x_ProfileDescription" cols="35" rows="4" placeholder="@Html.Raw(HtmlEncode(usersAdd.ProfileDescription.PlaceHolder))"@Html.Raw(usersAdd.ProfileDescription.EditAttributes) aria-describedby="x_ProfileDescription_help">@(usersAdd.ProfileDescription.EditValue)</textarea>
@Html.Raw(usersAdd.ProfileDescription.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.ProfileDescription.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd.ProfileDescription.Visible (end) *@
@if (usersAdd.IsActive.Visible) { // usersAdd.IsActive.Visible (begin)
    <div id="r_IsActive" @Html.Raw(usersAdd.IsActive.RowAttributes)>
        <label id="elh_Users_IsActive" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.IsActive.Caption)@Html.Raw(usersAdd.IsActive.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.IsActive.CellAttributes)>
<span id="el_Users_IsActive">
<div class="form-check d-inline-block">
    <input type="checkbox" class="form-check-input@(usersAdd.IsActive.IsInvalidClass)" data-table="Users" data-field="x_IsActive" data-boolean name="x_IsActive" id="x_IsActive" value="1" checked="@ConvertToBool(usersAdd.IsActive.CurrentValue)" @Html.Raw(usersAdd.IsActive.EditAttributes) aria-describedby="x_IsActive_help">
    <div class="invalid-feedback">@Html.Raw(usersAdd.IsActive.GetErrorMessage())</div>
</div>
@Html.Raw(usersAdd.IsActive.GetCustomMessage)
</span>
</div></div>
    </div>
} @* usersAdd.IsActive.Visible (end) *@
@if (usersAdd.UserLevelID.Visible) { // usersAdd.UserLevelID.Visible (begin)
    <div id="r_UserLevelID" @Html.Raw(usersAdd.UserLevelID.RowAttributes)>
        <label id="elh_Users_UserLevelID" for="x_UserLevelID" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.UserLevelID.Caption)@Html.Raw(usersAdd.UserLevelID.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.UserLevelID.CellAttributes)>
@if (!Security.IsAdmin && Security.IsLoggedIn) { // Non system admin
<span id="el_Users_UserLevelID">
<span class="form-control-plaintext">@Html.Raw(usersAdd.UserLevelID.DisplayValue(usersAdd.UserLevelID.EditValue))</span>
</span>
} else {
<span id="el_Users_UserLevelID">
    <select
        id="x_UserLevelID"
        name="x_UserLevelID"
        class="form-select ew-select@(usersAdd.UserLevelID.IsInvalidClass)"
        data-select2-id="fUsersadd_x_UserLevelID"
        data-table="Users"
        data-field="x_UserLevelID"
        data-value-separator="@(usersAdd.UserLevelID.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(usersAdd.UserLevelID.PlaceHolder))"
        @Html.Raw(usersAdd.UserLevelID.EditAttributes)>
        @(usersAdd.UserLevelID.SelectOptionListHtml("x_UserLevelID"))
    </select>
    @Html.Raw(usersAdd.UserLevelID.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(usersAdd.UserLevelID.GetErrorMessage())</div>
@Html.Raw(usersAdd.UserLevelID.Lookup.GetParamTag(usersAdd, "p_x_UserLevelID"))
<script>
loadjs.ready("fUsersadd", function() {
    var options = { name: "x_UserLevelID", selectId: "fUsersadd_x_UserLevelID" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fUsersadd.lists.UserLevelID?.lookupOptions.length) {
        options.data = { id: "x_UserLevelID", form: "fUsersadd" };
    } else {
        options.ajax = { id: "x_UserLevelID", form: "fUsersadd", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.Users.fields.UserLevelID.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
}
</div></div>
    </div>
} @* usersAdd.UserLevelID.Visible (end) *@
@if (usersAdd.CreatedBy.Visible) { // usersAdd.CreatedBy.Visible (begin)
    <div id="r_CreatedBy" @Html.Raw(usersAdd.CreatedBy.RowAttributes)>
        <label id="elh_Users_CreatedBy" for="x_CreatedBy" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.CreatedBy.Caption)@Html.Raw(usersAdd.CreatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.CreatedBy.CellAttributes)>
<span id="el_Users_CreatedBy">
<input type="@(usersAdd.CreatedBy.InputTextType)" name="x_CreatedBy" id="x_CreatedBy" data-table="Users" data-field="x_CreatedBy" value="@Html.Raw(usersAdd.CreatedBy.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(usersAdd.CreatedBy.PlaceHolder))" data-format-pattern="@(usersAdd.CreatedBy.FormatPattern)"@Html.Raw(usersAdd.CreatedBy.EditAttributes) aria-describedby="x_CreatedBy_help">
@Html.Raw(usersAdd.CreatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.CreatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd.CreatedBy.Visible (end) *@
@if (usersAdd.CreatedDateTime.Visible) { // usersAdd.CreatedDateTime.Visible (begin)
    <div id="r_CreatedDateTime" @Html.Raw(usersAdd.CreatedDateTime.RowAttributes)>
        <label id="elh_Users_CreatedDateTime" for="x_CreatedDateTime" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.CreatedDateTime.Caption)@Html.Raw(usersAdd.CreatedDateTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.CreatedDateTime.CellAttributes)>
<span id="el_Users_CreatedDateTime">
<input type="@(usersAdd.CreatedDateTime.InputTextType)" name="x_CreatedDateTime" id="x_CreatedDateTime" data-table="Users" data-field="x_CreatedDateTime" value="@Html.Raw(usersAdd.CreatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(usersAdd.CreatedDateTime.PlaceHolder))" data-format-pattern="@(usersAdd.CreatedDateTime.FormatPattern)"@Html.Raw(usersAdd.CreatedDateTime.EditAttributes) aria-describedby="x_CreatedDateTime_help">
@Html.Raw(usersAdd.CreatedDateTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.CreatedDateTime.GetErrorMessage())</div>
@if (!usersAdd.CreatedDateTime.ReadOnly && !usersAdd.CreatedDateTime.Disabled && !usersAdd.CreatedDateTime.EditAttrs.Is("readonly") && !usersAdd.CreatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fUsersadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fUsersadd", "x_CreatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* usersAdd.CreatedDateTime.Visible (end) *@
@if (usersAdd.UpdatedBy.Visible) { // usersAdd.UpdatedBy.Visible (begin)
    <div id="r_UpdatedBy" @Html.Raw(usersAdd.UpdatedBy.RowAttributes)>
        <label id="elh_Users_UpdatedBy" for="x_UpdatedBy" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.UpdatedBy.Caption)@Html.Raw(usersAdd.UpdatedBy.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.UpdatedBy.CellAttributes)>
<span id="el_Users_UpdatedBy">
<input type="@(usersAdd.UpdatedBy.InputTextType)" name="x_UpdatedBy" id="x_UpdatedBy" data-table="Users" data-field="x_UpdatedBy" value="@Html.Raw(usersAdd.UpdatedBy.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(usersAdd.UpdatedBy.PlaceHolder))" data-format-pattern="@(usersAdd.UpdatedBy.FormatPattern)"@Html.Raw(usersAdd.UpdatedBy.EditAttributes) aria-describedby="x_UpdatedBy_help">
@Html.Raw(usersAdd.UpdatedBy.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.UpdatedBy.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* usersAdd.UpdatedBy.Visible (end) *@
@if (usersAdd.UpdatedDateTime.Visible) { // usersAdd.UpdatedDateTime.Visible (begin)
    <div id="r_UpdatedDateTime" @Html.Raw(usersAdd.UpdatedDateTime.RowAttributes)>
        <label id="elh_Users_UpdatedDateTime" for="x_UpdatedDateTime" class="@(usersAdd.LeftColumnClass)">@Html.Raw(usersAdd.UpdatedDateTime.Caption)@Html.Raw(usersAdd.UpdatedDateTime.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(usersAdd.RightColumnClass)"><div @Html.Raw(usersAdd.UpdatedDateTime.CellAttributes)>
<span id="el_Users_UpdatedDateTime">
<input type="@(usersAdd.UpdatedDateTime.InputTextType)" name="x_UpdatedDateTime" id="x_UpdatedDateTime" data-table="Users" data-field="x_UpdatedDateTime" value="@Html.Raw(usersAdd.UpdatedDateTime.EditValue)" placeholder="@Html.Raw(HtmlEncode(usersAdd.UpdatedDateTime.PlaceHolder))" data-format-pattern="@(usersAdd.UpdatedDateTime.FormatPattern)"@Html.Raw(usersAdd.UpdatedDateTime.EditAttributes) aria-describedby="x_UpdatedDateTime_help">
@Html.Raw(usersAdd.UpdatedDateTime.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(usersAdd.UpdatedDateTime.GetErrorMessage())</div>
@if (!usersAdd.UpdatedDateTime.ReadOnly && !usersAdd.UpdatedDateTime.Disabled && !usersAdd.UpdatedDateTime.EditAttrs.Is("readonly") && !usersAdd.UpdatedDateTime.EditAttrs.Is("disabled")) {
<script>
loadjs.ready(["fUsersadd", "datetimepicker"], function () {
    let format = "@Html.Raw(DateFormat(0))", // DN
        options = {
                localization: {
                    locale: ew.LANGUAGE_ID + "-u-nu-" + ew.getNumberingSystem(),
                    hourCycle: format.match(/H/) ? "h24" : "h12",
                    format,
                    ...ew.language.phrase("datetimepicker")
                },
                display: {
                    icons: {
                        previous: ew.IS_RTL ? "fa-solid fa-chevron-right" : "fa-solid fa-chevron-left",
                        next: ew.IS_RTL ? "fa-solid fa-chevron-left" : "fa-solid fa-chevron-right"
                    },
                    components: {
                        hours: !!format.match(/h/i),
                        minutes: !!format.match(/m/),
                        seconds: !!format.match(/s/i)
                    },
                    theme: ew.isDark() ? "dark" : "auto"
                }
            };
    ew.createDateTimePicker("fUsersadd", "x_UpdatedDateTime", ew.deepAssign({"useCurrent":false,"display":{"sideBySide":false}}, options));
});
</script>
}
</span>
</div></div>
    </div>
} @* usersAdd.UpdatedDateTime.Visible (end) *@
</div><!-- /page* -->
@{ usersAdd.CloseRecordset(); }
@Html.Raw(usersAdd.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(usersAdd.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fUsersadd">@Html.Raw(Language.Phrase("AddBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fUsersadd" data-href="@AppPath(usersAdd.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(usersAdd.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
@usersAdd.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("Users");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
